@using System.Collections
    @using DataAccess.Model
    @model DataAccess.Model.Blog
    @{
        ViewBag.Title = Model.Header;
    }

    <button type="button" class="btn btn-primary" onclick="goBack()">Back</button>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">@Model.Header</h2>
                    <div style="display: flex">
                        <p class="blog-post-meta short-date">@Model.Datum</p>
                        <p>&nbsp;from @Model.Location</p>
                        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    @Html.Raw(Model.Description)
                </div>
            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                @{ Html.RenderAction("RenderSide2", "Blog"); }
                @{ Html.RenderAction("RenderSide", "Blog"); }
            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </main><!-- /.container -->
